@{
    ViewBag.Title = "암호 잊음 확인";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            전자 메일을 확인하여 암호를 재설정하십시오.
        </p>
    </div>
</main>
