@model PassionProject_YejunSon.Models.RestaurantDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<a href="/Restaurant/Details/@Model.UserId/@Model.RestaurantId">Go back to Restaurant Details</a>

<h2>Are you sure you want to delete this Restaurant?</h2>

<h2>@Model.RestaurantName</h2>
<div>Location: @Model.Location</div>
<div>Rate: @Model.Rate</div>
<div>Rate: @Model.Description</div>

<form action="/Restaurant/Delete/@Model.UserId/@Model.RestaurantId" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>