@model PassionProject_YejunSon.Models.RestaurantDto
@{
    ViewBag.Title = "Details";
}
<a href="/User/Details/@Model.UserId">Go back to User Details</a>

<br />
<h2>@Model.RestaurantName</h2>
<h3>Location: @Model.Location</h3>
<h3>Rate: @Model.Rate</h3>
<h3>Description: @Model.Description</h3>
<a href="/Restaurant/Edit/@Model.UserId/@Model.RestaurantId">Edit Restaurant</a>
<a href="/Restaurant/deleteConfirm/@Model.UserId/@Model.RestaurantId">Delete Restaurant</a>
