@model PassionProject_YejunSon.Models.User

@{
    ViewBag.Title = "DeleteConfirm";
}

<a href="/User/List">Cancel</a>

<h2>Are you sure you want to delete this User?</h2>

<div>First Name: @Model.FirstName</div>
<div>Last Name: @Model.LastName</div>

<form action="/User/Delete/@Model.UserId" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>