
@model PassionProject_YejunSon.Models.ViewModels.DetailsUser
@{
    ViewBag.Title = "Details";
}

<a href="/User/list">Go back to list</a>
<br />

<h2>@Model.SelectedUser.FirstName @Model.SelectedUser.LastName</h2>

