@model PassionProject_YejunSon.Models.User
@{
    ViewBag.Title = "Edit";
}
<a href="/User/List">Cancel</a>
<h2>Update User</h2>
<form action="/User/Update/@Model.UserId" method="post">
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <div>
        <label>First Name:</label>
        <input type="text" name="FirstName" value="@Model.FirstName" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="LastName" value="@Model.LastName" />
    </div>

    <input type="submit" value="Update User" />
</form>

