
@{
    ViewBag.Title = "New";
}

<h2>Create User</h2>
<form action="/User/Create" method="post">
    <div>
        <label>First Name:</label>
        <input type="text" name="FirstName" value="" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="LastName" value="" />
    </div>

    <input type="submit" value="Add User" />
</form>

